<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.toelve.chipslinmas">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <permission
        android:name="com.toelve.chipslinmas.androidgcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <permission
        android:name="com.toelve.chipslinmas.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:noHistory="true" android:screenOrientation="portrait"
            android:exported="true"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyANZcZhSXUAdz1N5mi0LTc0l9f80fVDuPo" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.toelve.chipslinmas" />
            </intent-filter>
        </receiver>

        <service
            android:name=".GCMPushReceiverService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <!-- GCM Registration Intent Service -->
        <service
            android:name=".GCMRegistrationIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.chiplinmas.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider>

        <activity android:name=".Home" android:noHistory="true"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait"  />
        <activity android:name=".Register"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait"  />
        <activity android:name=".Laporan"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait"  />
        <activity android:name=".LaporanKecelakaan"  android:noHistory="true"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".BeritaKejadian"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait"  />
        <activity android:name=".DetilBerita"
            tools:ignore="LockedOrientationActivity"
            android:noHistory="true" android:screenOrientation="portrait"  />
        <activity android:name=".ShowFoto"
            tools:ignore="LockedOrientationActivity"
            android:noHistory="true"  android:screenOrientation="portrait"  />
        <activity android:name=".AdaBeritaBaru"
            tools:ignore="LockedOrientationActivity"
            android:noHistory="true" android:screenOrientation="portrait" />
    </application>

</manifest>